<phpunit bootstrap="vendor/autoload.php">
	<testsuites>
		<!-- Union-find tests -->
		<testsuite name="UnionFind">
			<file>tests/ufSimpleTest1.php</file>
		</testsuite>
		<!-- Percolation tests -->
		<testsuite name="Percolation">
			<file>tests/perctest_simple.php</file>
			<file>tests/perctest_double.php</file>
			<file>tests/perctest_exceptions.php</file>
		</testsuite>
	</testsuites>
</phpunit>